{% extends 'Tableroom.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายการพนักงาน</title>
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
     crossorigin="anonymous">

</head>
<body>
  {% block  content %}
   
  <h3>&nbsp;&nbsp;&nbsp;&nbsp; </h3>  
  <div class="col ">
        
        <div class="row">
          <div class="col">&nbsp;</div>
        </div> 
        <div class="row">
          <div class="col"><h4 align = center>รายการพนักงาน</h4></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"><a href="/Add_Employee" ><input type="button" value="เพิ่มพนักงาน" class ="btn btn-primary" > </a></div>
        </div>

        <table class="table ">
          <thead>
            <tr>
              <th scope="col">no</th>
              <th scope="col">ชื่อ-สกุล</th>
              <th scope="col">email</th>
              <th scope="col">ตำแหน่ง</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {%  for post in data %}
            
              
            <tr>
              <th scope="row">{{post.id}}</th>
              <td>{{post.firstname}} &nbsp; &nbsp;{{post.Lastname}}</td>
              <td>{{post.email}}</td>
              <td>{{post.jobposition}}</td>
              <td>
                
    
                <div class="row">
                  <div class="col order-last">
                    <form action="Delete_employee" method="post">
                      {% csrf_token %}
                      <div class="col gx-0">
                        <button type="submit  "  value="{{post.id}}"  name="delete"  onclick="return confirm('ยืนยันการลบ !!!')">
                          <img src="{% static 'image/1.png' %}" width = 30  alt="alternatetext">
                        </button>
                        
                        
                      </div>
                    </form>
                  </div>
                  <div class="col">
                    <form action="View_Employee" method="post">
                      {% csrf_token %}
                    <div class="col gx-0">
                      <button type="submit  "  name="view" value="{{post.id}}" >
                        <img src="{% static 'image/2.png' %}" width = 40  alt="alternatetext">
                      </button>
                      
                    </div>
                    </form>
                  </div>
                  <div class="col order-first">
                    <form action="Edit_Employee" method="post">
                      {% csrf_token %}
                    <div class="col gx-0">
                      <button type="submit" value="{{post.id}}" name = "edit" >
                        <img src="{% static 'image/3.jpg' %}" 
                        width = 30 alt="alternatetext">
                      </button>
                       
                    </div>
                    </form>
                  </div>


                </div>


              </td>
            </tr>
            
            {%  endfor  %}
            
            
          </tbody>
        </table> 
        
     
    
  </div>
     
      
      













    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
      {% endblock %}
</body>
</html>
