{% extends 'Tableroom.html'%}
{% load static %}

<!DOCTYPE html>
<html >
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="{% static 'assets/css/simple-sidebar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/home.css' %}" />


    <title>Kitchen</title>
    <style>
      .grid-container {
        display: grid;
        grid-row-gap: 40px;
        grid-template-columns: auto auto auto;
        padding: 10px;
      }
      .grid-item {
        font-size: 18px;
        text-align: center;
        font-color:black;
      }
    </style>

  </head>

  <body>

{% block content %}
<div id="page-content-wrapper"  >
    <nav class="navbar navbar-expand-lg navbar-dark  border-bottom"  style="background:#323444" >
      <div    class="collapse navbar-collapse"   id="navbarSupportedContent" >
         <p style="text-align: center; margin: auto;color: white">บนครัว</p>
     </div>
</nav>
<div class="dashboard-wrapper" style="padding-top:3%;">
  <div class="dashboard-ecommerce">
  <div class="container-fluid dashboard-content " style="padding-bottom:5%" >
    <h4>ออเดอร์</h4>
  <div  style="padding-right:2%" align="right">
    <a href="Rawmaterial.html"><button type="button" class="btn btn-dark btn-block"  style="background:#323444"> สินค้าหมด </button></a>
  </div>
</div>

<div class="container-fluid dashboard-content " style="padding-bottom:5%" >
    <div class="card" >
      <div class="card-header" style="background:#E46D6D">
        <div class="grid-container">
        <div class="grid-item">โต๊ะ</div>
        <div class="grid-item">รายการอาหาร</div>
        <div class="grid-item">เสริฟ</div>
      </div>
      </div>
      <div class="card-body">
        <div class="grid-container">
          <div class="grid-item">0001</div>
          <div class="grid-item">-ไอศครัมกะทิสด         1</div>
          <div class="grid-item"><div class="checkbox"> <label><input type="checkbox" value=""></div></div>
        </div>


      </div>
      <div class="card-footer" align="right" style="border-color:black">
          <div class="container " style="padding-left:85%" >
              <button type="button" class="btn btn-success btn-block"  > สำเร็จ </button>
          </div>

      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="container-fluid dashboard-content " style="padding-bottom:5%" >
      <div class="card" >
        <div class="card-header" style="background:#E46D6D">
          <div class="grid-container">
          <div class="grid-item">โต๊ะ</div>
          <div class="grid-item">รายการอาหาร</div>
          <div class="grid-item">เสริฟ</div>
        </div>
        </div>
        <div class="card-body">
          <div class="grid-container">
            <div class="grid-item">0002</div>
            <div class="grid-item">-ไอศครัมกะทิสด         1</div>
            <div class="grid-item"><div class="checkbox"> <label><input type="checkbox" value=""></div></div>
          </div>


        </div>
        <div class="card-footer" align="right" style="border-color:black">
            <div class="container " style="padding-left:85%" >
                <button type="button" class="btn btn-success btn-block" > สำเร็จ </button>
            </div>

        </div>
      </div>
    </div>
    </div>
    

{% endblock %}


  </body>
</html>
