{% extends 'Tableroom.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet"
          type="text/css"
          href="assets/css/simple-sidebar.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/home.css" />

    <link href="https://fonts.googleapis.com/css?family=Rowdies"
          rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" /> -->
    <!-- Bootstrap icon CSS -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet" />
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
          rel="stylesheet"
          type="text/css" />
    <title>ลิสคิวลูกค้า</title>
</head>
<body>
    {% block content %}
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <p style="text-align: center; margin: auto">ลิสคิวลูกค้า</p>
                </div>
            </nav>


            <!-- Basic Table -->
            <div class="table-responsive" style="margin-top:80px">
                <table cellspacing="0" cellpadding="0" class="table" id="table-bootstrap">
                    <thead>

                        <tr>
                            <th scope="col">ออเดอ</th>
                            <th scope="col">กลับบ้าน/ทานที่ร้าน</th>
                            <th scope="col">รายการที่สั่ง <span class="caret shoarting"></span> </th>
                            <th scope="col">ราคา</th>
                            <th scope="col">โต้ะที่</th>
                            <th scope="col">ชำระเงิน</th>
                            <th scope="col">สถานะออเดอร์</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td>{{post.id}}</td>
                            <td>{{post.WhereToEat}}</td>
                            <td>{{post.ListOrder}}</td>
                            <td>{{post.Price}}</td>
                            <td>{{post.TNumber}}</td>
                            <td><a href="#" <i class="bi bi-cash-stack"></i>></a></td>
                            <td>{{post.OrderStat}}</td>
                        </tr>
                        {% endfor%}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>