
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Login</title>
  </head>
  <body  style="background: #323444 ">
    <div style="margin:10%;margin-left:35%;margin-right:35%;">
     <form  >
     <div class="card " style="border-radius:10px ; padding-Top:7%"  >
          <center><h3><U>Login</U></h3></center>
        <div class="card-body">
          <form>
             <div class="form-group">
                     <h5>User</h5>
                     <input type="email" class="form-control" placeholder="Enter email" id="exampleInputEmail1" />
             </div>
             <br/>
             <div class="form-group">
                      <h5>Password</h5>
                     <input type="password" class="form-control" placeholder="Enter password" id="exampleInputPassword1"/>
             </div>
             <div class="form-group" align="right" style="padding:5%">
                <button type="button" class="btn btn-success btn-block" ><a href="/Tableroom">Sign In</a></button>
             </div>
                  <a href="/Forgetpassword">For get your password</a>
             </form>
            </div>
         </div>
         </form>

         </div>
  </body>
</html>
